{% if article.tags %}<p>Category: {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">
{% if loop.counter == 1 %}
	{{tag}}
{% else %}
	, {{ tag }}
{% endif %}


</a>{% endfor %}</p>{% endif %}
{% if PDF_PROCESSOR %}<p><a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">get the pdf</a></p>{% endif %}
